
@import "src/variables.sass"

.container
  width: 100%
  position: absolute
  bottom: 0
  color: $white-main
  background-color:$black-main
 
.footer-row
  display: flex
  align-items: flex-start
  justify-content: center

.text-align-center
  margin-top: 20px 
  margin-bottom:  20px 
  text-align: center
  color: $white-main
  font-size: 30px
 

.footer--contact
  color: $white-main
  display: flex
  flex-direction: column
  margin: 0 20px
  width: 33%
  
.eveniment
  color: $white-main
  text-align: center
  margin-top: 20px
  margin-bottom: 10px
  font-size: 24px

.image
  margin-bottom: 20px
  background: #FFF
  width: 20%
  height: auto

.adressa
  font-size: 24px
  margin: 0 0px
  text-align: right
  
.footer-email
  font-size: 24px
  margin: 0 0px
  text-align: center

.footer-social
   font-size: 24px
   margin: 0 0px
   text-align: left

@media screen and ( max-width: 600px )
    
    .text-align-center
      font-size: 19px
      margin-bottom: 5px
      margin-top: 5px
      text-align:  center

    .footer-row
      flex-direction: column
      justify-content: left
      margin-left: 5%
      margin-bottom: 5px

    .adressa
      font-size: 17px 
      margin: 0 0px
      text-align: left

    .footer--contact 
      margin-bottom: 5px
      margin-top: 5px
      width: 100%
   
    .footer-email
       font-size: 17px 
       margin: 0 0px
       text-align: left

    .footer-social
       font-size: 17px 
       margin: 0 0px
       text-align: left

    .eveniment
      font-size: 17px
      text-align: left
      margin-left: 10%
      margin-bottom: 5px
      
    .image
      width: 50%
      height: auto
      align-items: left
      margin-right: 10%