
<div class="container">
    <div class="text-align-center">
        Contacts
    </div>
    <div class="footer-row">
        <div class="footer--contact adress">
            <p class="adressa">
                Adresa:
            </p>
            <p class="adressa">Lorem ipsum dolor sit</p>
        </div>
        <div class="footer--contact">
            <p class="footer-email">
                Email:
            </p>
            <p class="footer-email"> Lorem ipsum dolor sit</p>
        </div>
        <div class="footer--contact ">
             <p class="footer-social">
                 Social media
            </p>
            <div class="footer-social">
                
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </div>

</div>
    <div class="eveniment">
            <p>
                Un eveniment marca
            </p>
           
                    <img class="image" src="assets/hermes_logo-min.png">
            
 </div>
</div>
