
<div class="container">
    <div class="contacts">
        Contacts
    </div>
    <div class="footer-row">
        <div class="align-elements">
            <p class="footer-adress">
                Adresa:
            </p>
            <p class="footer-adress">Lorem ipsum dolor sit</p>
        </div>
        <div class="align-elements" >
            <p class="footer-email">
                Email:
            </p>
            <p class="footer-email"> Lorem ipsum dolor sit</p>
        </div>
        <div class="align-elements" >
             <p class="footer-social">
                 Social media
            </p>
            <div class="footer-social">
                <a href="https://www.facebook.com/societateahermes" target="_blank">
                    <img class="social-image" id="facebook-image" src="assets/facebook-min.png">
                </a>

                <a href="https://www.instagram.com/societatea.hermes/" target="_blank">
                    <img class="social-image" src="assets/instagram-min.png">
                </a>
            </div>
        </div>
</div>
    <div class="event">
            <p>
                Un eveniment marca
            </p>
             <img class="footer-image" src="assets/hermes_logo-min.png">   
 </div>
</div>
