
<div class="container">
    <div class="text-align-center">
        Contacts
    </div>
    <div class="footer-row">
        <div class="adresa">
            <p>
                Adresa:
            </p>
            <p>Lorem ipsum dolor sit</p>
        </div>
        <div class="email">
            <p>
                Email:
            </p>
            <p>Lorem ipsum dolor sit</p>
        </div>
        <div class="media">
             <p>
                 Social media
            </p>
            <div>
                
                <i class ="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </div>

</div>
    <div class="eveniment">
            <p>
                Un eveniment marca
            </p>
           
                    <img class="image" src="src/app/assets/hermes_icon.png">
            
 </div>
</div>
