<!--TO BE ADDED-links in the menu bar-->
<nav class="menu">
    <div>
    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    </div>
    <div class="content-menu">
        <ul>
            <li><a href="#">Despre noi</a></li>
            <li><a href="#">Evenimente</a></li>
            <li><a href="#">Consiliu Director & Departamente</a></li>
            <li><a href="#">Postări</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Facultatea de Matematică și Informatică</a></li>
    </ul>
    </div>
</nav>

<div class="header-logo">
    <img src="assets/hermes_logo.png" >
    <button id="button-center">Înscrie-te la...</button>
</div>

<!--TO DO: mobile view updates-->

