<div class="main-header">
    <label for="toggle">&#9776;</label>
    <input type="checkbox" id="toggle">

    <div class="content-menu">
        <ul>
            <li><a href="#">Despre noi</a></li>
            <li><a href="#">Evenimente</a></li>
            <li><a href="#">Consiliu Director & Departamente</a></li>
            <li><a href="#">Postări</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Facultatea de Matematică și Informatică</a></li>
        </ul>
    </div>
    <div class="header-logo">
        <img src="assets/hermes_logo-min.png" >
        <button id="button-center">Înscrie-te la...</button>
    </div>
</div>


