<app-banner title="Despre noi"></app-banner>
<div class="text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque metus sed nibh viverra,
     finibus imperdiet nibh ultrices. Sed sit amet arcu tortor. Pellentesque habitant morbi tristique senectus et netus
      et malesuada fames ac turpis egestas. Quisque nisi orci, tincidunt id convallis nec, iaculis non arcu. Proin
       ornare sit amet mi sed pretium. Duis sodales turpis id faucibus ultrices. Vivamus quis vestibulum tellus, id 
       ultrices ipsum. Nullam sagittis sagittis tortor sed varius. Vestibulum at aliquet lacus, at venenatis arcu. 
       Quisque ac sem viverra, egestas ex eget, rutrum ante. Integer sagittis mi a est pellentesque vestibulum.
    Nunc at porta nibh. Sed fermentum ipsum risus, sed rutrum mauris dictum eget. Aliquam erat volutpat.
    
</div>
<section id="posts">
<app-banner title="Postări"  ></app-banner>
<button class="more-button">Mai multe</button>
</section>
